.hero{
    display: flex;
    justify-content: space-between;
    color: azure;
    
   
}

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    flex-direction: column;
    display: flex;
}

.right-h{
    flex: 1;
    padding: 1rem;
    position:relative;
    background-color:  rgb(186, 135, 39);;
}


